.milestones{

background:#1c1c1c;

padding:120px 90px;

color:white;

overflow:hidden;

}

.milestones h2{

font-size:70px;

margin-bottom:80px;

font-weight:900;

letter-spacing:-2px;

}

.timeline-wrapper{

display:flex;

overflow-x:auto;

scrollbar-width:none;

gap:40px;

padding-bottom:50px;

scroll-behavior:smooth;

}

.timeline-wrapper::-webkit-scrollbar{

display:none;

}

.timeline-bottom{

display:flex;

justify-content:space-between;

align-items:center;

margin-top:60px;

}

.periods{

display:flex;

gap:25px;

flex-wrap:wrap;

}

.periods button{

background:none;

border:none;

color:#888;

font-size:22px;

font-weight:700;

cursor:pointer;

padding-bottom:10px;

}

.periods button.active{

color:white;

border-bottom:2px solid white;

}

.timeline-arrows{

display:flex;

gap:25px;

}

.timeline-arrows button{

width:72px;

height:72px;

border:1px solid white;

background:transparent;

color:white;

font-size:30px;

cursor:pointer;

transition:.3s;

}

.timeline-arrows button:hover{

background:white;

color:black;

}