* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow Condensed  ', sans-serif;
  background: #0a0a0a;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}
.goog-te-banner-frame,
.goog-te-banner-frame.skiptranslate,
iframe.goog-te-banner-frame {
  display: none !important;
  visibility: hidden !important;
  height: 0 !important;
}

body {
  top: 0 !important;
  position: static !important;
}

#google_translate_element {
  display: none !important;
}

.skiptranslate {
  display: none !important;
}